html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

#mysticky-nav.wrapfixed .myfixed {
  border-bottom: 5px solid #663300;
}

header {
  background: #ffcc00;
  padding: 5px 0;
  border-bottom: 5px solid #663300;
  // position: fixed;
  // z-index: 1;
  width: 100%;

  .company-brand {
    img {
      width: 100%;
      max-width: 92%;
    }
  }

  .main-menu {
    width: 100%;
  }

  .company-info {
    width: 100%;

    ul {
      display: flex;
      list-style-type: none;
      padding-left: 0;
      float: right;
      margin-bottom: 0px;

      li {
        padding: 0 10px;
        color: #663300;
        font-size: 13px;
        font-weight: 500;
      }

      li.fb,
      li.twitter {
        border-left: 1px solid #663300;
      }

      a {
        color: #663300;
        text-decoration: none;
      }
    }
  }

  .main-menu-bar {
    width: 100%;

    ul {
      li {
        text-transform: capitalize;
        font-weight: 500;
        font-size: 15px;
      }

      a {
        color: #333333 !important;
        padding-bottom: 0px;

        &:hover {
          color: #fff !important;
          transition: 0.5s;
        }
      }

      li.current-menu-item {
        a {
          color: #fff !important;
        }
      }
    }
  }
}

// Responsive

@media (min-width: 992px) and (max-width: 1199px) {
  header .main-menu-bar ul li {
    font-size: 16px;
  }

  header .company-brand img {
    max-width: 60%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  header .company-brand img {
    max-width: 65%;
  }
  header .main-menu-bar ul li {
    font-size: 16px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  header .company-brand img {
    max-width: 40%;
  }
  header .company-info {
    display: none;
  }
  header .main-menu-bar button {
    width: auto;
  }
  header .main-menu-bar button {
    float: right;
    outline: none;
    border-color: rgba(255, 255, 255, 0.7) !important;
  }

  header .main-menu-bar {
    position: relative;
  }

  header .main-menu-bar .navbar-collapse {
    position: absolute;
    width: 100%;
  }

  header .main-menu-bar .navbar-nav {
    position: absolute;
    width: 100%;
    z-index: 1200;
    top: 58px;
    background: rgba(51, 51, 51, 0.8);
    padding: 0 20px 20px 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  header .main-menu-bar ul a {
    color: #fc0 !important;
  }

  header .main-menu-bar ul li {
    font-size: 16px;
  }

  header .main-menu {
    position: absolute;
  }

  header .main-menu-bar .navbar-toggler-icon {
    width: 1em;
    height: 1em;
  }

  header .main-menu-bar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.7)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
}

@media (max-width: 575px) {
  header .company-brand img {
    max-width: 50%;
  }
  header .company-info {
    display: none;
  }
  header .main-menu-bar button {
    width: auto;
    margin-right: 15px;
  }
  header .main-menu-bar button {
    float: right;
    outline: none;
    border-color: rgba(51, 51, 51, 0.7) !important;
  }

  header .main-menu-bar {
    position: relative;
  }

  header .main-menu-bar .navbar-collapse {
    position: absolute;
    width: 100%;
  }

  header .main-menu-bar .navbar-nav {
    position: absolute;
    width: 100%;
    z-index: 1200;
    top: 53px;
    background: rgba(51, 51, 51, 0.8);
    padding: 0 20px 20px 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  header .main-menu-bar ul a {
    color: #fc0 !important;
  }

  header .main-menu-bar ul li {
    font-size: 15px;
  }

  header .main-menu {
    position: absolute;
  }

  header .main-menu-bar .navbar-toggler-icon {
    width: 1em;
    height: 1em;
  }

  header .main-menu-bar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(51, 51, 51, 0.7)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }

  header .main-menu-bar .navbar-toggler {
    padding: 0.2rem 0.6rem;
    font-size: 1.3rem;
    line-height: 0.8;
  }
}
