#about-us {
  padding: 80px 0;

  .about {
    h1 {
      font-size: 30px;
      color: #a56900;
      font-weight: 500;
      margin-bottom: 30px;
    }

    p {
      font-size: 15px;
      color: #333;
      font-weight: 400;
      line-height: 27px;

      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }

  .goal {
    h2 {
      font-size: 20px;
      color: #a56900;
      font-weight: 500;
    }

    p {
      font-size: 15px;
      color: #333;
      font-weight: 400;
      line-height: 27px;
    }

    .vision {
      margin-bottom: 40px;
      text-align: center;
      border: 1px solid #efebeb;
      padding: 20px;
      border-radius: 7px;
    }

    .mission {
      text-align: center;
      border: 1px solid #efebeb;
      padding: 20px;
      border-radius: 7px;
    }
  }
}

#ceo {
  padding-bottom: 80px;

  .ceo-word {
    img {
      width: 130px;
      height: 130px;
      border: 1px solid #a56900;
      border-radius: 50%;
      padding: 3px;
      display: block;
      margin: auto;
      margin-bottom: 20px;
    }

    p {
      font-size: 17px;
      color: lighten(#333333, 30%);
      font-weight: 300;
      margin-bottom: 10px !important;
      font-style: italic;
    }

    span {
      font-size: 15px;
      color: #6c757d;
      font-weight: 400;
    }

    .blockquote-footer {
      font-size: 12px;
    }
  }
}

// Responsive

@media (min-width: 992px) and (max-width: 1199px) {
  #about-us {
    padding: 60px 0;
  }
  #about-us .about h1 {
    font-size: 27px;
  }

  #about-us .goal h2 {
    font-size: 17px;
  }

  #ceo .ceo-word p {
    font-size: 15px;
  }

  #ceo .ceo-word span {
    font-size: 13px;
  }

  #ceo .ceo-word .blockquote-footer {
    font-size: 10px;
  }

  #ceo .ceo-word img {
    width: 120px;
    height: 120px;
  }

  #ceo {
    padding-bottom: 60px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #about-us {
    padding: 50px 0;
  }

  #about-us .about h1 {
    font-size: 25px;
    margin-bottom: 20px;
  }

  #about-us .goal h2 {
    font-size: 18px;
  }

  #ceo hr {
    display: none;
  }

  #ceo .ceo-word img {
    width: 120px;
    height: 120px;
  }

  #ceo .ceo-word p {
    font-size: 15px;
    max-width: 80%;
    margin: auto;
  }

  #ceo {
    padding-bottom: 50px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  #about-us {
    padding: 40px 0;
  }
  #about-us .about h1 {
    font-size: 25px;
    margin-bottom: 15px;
  }
  #about-us .about p {
    text-align: justify;
  }
  #about-us .goal .vision {
    margin-bottom: 15px;
  }
  #ceo hr {
    display: none;
  }
  #ceo .ceo-word img {
    width: 120px;
    height: 120px;
    margin-bottom: 15px;
  }
  #ceo .ceo-word p {
    font-size: 16px;
    max-width: 90%;
    margin: auto;
  }
  #ceo {
    padding-bottom: 40px;
  }
}

@media (max-width: 575px) {
  #about-us {
    padding: 35px 0;
  }
  #about-us .about h1 {
    font-size: 18px;
    margin-bottom: 15px;
  }
  #about-us .about p {
    text-align: justify;
    font-size: 14px;
    line-height: 25px;
  }
  #about-us .goal .vision {
    margin-bottom: 15px;
  }
  #about-us .goal h2 {
    font-size: 18px;
  }
  #ceo hr {
    display: none;
  }
  #ceo .ceo-word img {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
  }
  #ceo .ceo-word p {
    font-size: 14px;
    max-width: 90%;
    margin: auto;
  }
  #ceo {
    padding-bottom: 40px;
  }
  #ceo .ceo-word span {
    font-size: 14px;
  }
  #ceo .ceo-word .blockquote-footer {
    font-size: 11px;
  }
}
