#our-crew {
  padding: 80px 0;

  .crew {
    p {
      color: #333333;
      line-height: 27px;
    }

    .features {
      &:not(:last-child) {
        margin: 50px 0;
      }

      .feature-content {
        h1 {
          font-size: 18px;
          color: #cc9900;
          font-weight: 500;
          text-decoration: underline;
          text-underline-position: under;
          margin-bottom: 20px;
        }
      }

      .feature-img {
        img {
          width: 160px;
          height: 160px;
          object-fit: cover;
          border-radius: 50%;
          margin: auto;
          display: block;
          border: 1px solid #cc9900;
          padding: 5px;
        }
      }
    }
  }
}

// Responsive

@media (min-width: 992px) and (max-width: 1199px) {
  #our-crew {
    padding: 60px 0;
  }

  #our-crew .crew .features .feature-content h1 {
    font-size: 16px;
  }

  #our-crew .crew .features .feature-img img {
    width: 140px;
    height: 140px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #our-crew {
    padding: 50px 0;
  }

  #our-crew .crew .features .feature-content h1 {
    font-size: 16px;
  }

  #our-crew .crew .features .feature-img img {
    width: 120px;
    height: 120px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  #our-crew {
    padding: 25px 0;
  }

  #our-crew .crew .features .feature-img img {
    width: 120px;
    height: 120px;
    padding: 3px;
    margin-bottom: 30px;
  }

  #our-crew .crew .features .feature-content h1 {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
  }

  #our-crew .crew p {
    text-align: justify;
  }
}

@media (max-width: 575px) {
  #our-crew {
    padding: 0 0 25px;
  }

  #our-crew .crew .features .feature-img img {
    width: 100px;
    height: 100px;
    padding: 3px;
    margin-bottom: 20px;
  }

  #our-crew .crew .features .feature-content h1 {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
  }

  #our-crew .crew p {
    text-align: justify;
  }

  #our-crew .crew p {
    line-height: 25px;
    font-size: 14px;
  }

  #our-crew .crew .features:not(:last-child) {
    margin: 30px 0;
  }
}
