#top-cover {
  overflow-x: hidden;
  overflow-y: hidden;

  .homeSlider {
    margin-bottom: 0;
    .slider {
      width: 100%;
      height: 90vh;
      background-blend-mode: overlay;
      background-size: cover !important;

      .slider-content {
        text-align: center;
        position: relative;
        top: 45vh;
        transform: translateY(-50%);
        h1 {
          color: rgb(255, 204, 0);
          font-size: 65px;
          font-weight: 700;
          margin-bottom: 20px;
          letter-spacing: 7px;
        }

        p {
          color: #fff;
          font-size: 22px;
          max-width: 80%;
          margin: auto;
        }
      }
    }

    .slider1 {
      background: url("../img/slider1.jpg") rgba(0, 0, 0, 0.5);
    }

    .slider2 {
      background: url("../img/slider2.jpg") rgba(0, 0, 0, 0.5);
    }

    .slider3 {
      background: url("../img/slider3.jpg") rgba(0, 0, 0, 0.5);
    }

    .slick-dots {
      bottom: 30px;

      .slick-active {
        button {
          &::before {
            color: #fc0;
          }
        }
      }

      li {
        button {
          &::before {
            font-size: 50px;
            opacity: 0.35;
            color: #fff;
            content: "-";
          }
        }
      }
    }
  }
}

#best-security-sl {
  padding: 70px 0;

  .best-security {
    text-align: center;
    margin-bottom: 60px;

    h1 {
      font-size: 40px;
      font-weight: 600;
      color: #663300;
      margin-bottom: 10px;
    }

    p {
      font-size: 18px;
      color: #333333;
      padding: 0 30px;
      font-weight: 500;
    }
  }

  .security-services {
    text-align: center;

    img {
      width: 100%;
      max-width: 25%;
      margin-bottom: 15px;
    }

    h2 {
      font-size: 20px;
      font-weight: 600;
      color: #663300;
    }

    p {
      font-size: 15px;
      font-weight: normal;
      line-height: 20px;
      color: #333333;
    }
  }

  a {
    display: block;
    margin: auto;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #333333;
    margin-top: 20px;
    width: fit-content;
  }
}

#welcome-thaproband {
  padding: 70px 0;
  background: #fbfbfb;
  background-image: url("../img/security-guard.png");
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-size: 35%;
  background-position-y: bottom;

  .welcome {
    h1 {
      font-size: 40px;
      color: #333333;
      font-weight: 600;
      margin-bottom: 15px;
    }

    p {
      font-size: 15px;
      color: #333333;
      font-weight: normal;
      text-align: justify;
    }

    a {
      font-size: 15px;
      color: #333333;
      font-weight: normal;
      text-decoration: underline;
      text-underline-position: under;
      display: block;
      margin-top: 30px;
      width: fit-content;
    }
  }
}

#we-are-for-you {
  padding: 90px 0px;
  background: #ffcc00;
  background-size: cover;

  .our-best {
    h1 {
      font-size: 40px;
      text-align: center;
      color: #663300;
      font-weight: 600;
      margin-bottom: 10px;
    }

    p {
      font-size: 18px;
      color: #333333;
      text-align: center;
      font-weight: 500;
      margin-bottom: 60px;
    }
  }

  .reasons {
    ul {
      list-style-type: none;
      padding-left: 0;
      display: inline-flex;

      li {
        &:not(:last-child) {
          padding-right: 15px;
          font-size: 30px;
          color: #333333;
        }

        .title {
          h2 {
            font-size: 22px;
            color: #333333;
            font-weight: 500;
            margin-bottom: 5px;
          }
        }

        .content {
          p {
            font-size: 15px;
            color: #333333;
            text-align: justify;
          }
        }
      }
    }
  }

  .info {
    p {
      font-size: 15px;
      color: #333333;
      font-weight: normal;
      text-align: justify;
    }
  }
}

#quick-contact {
  padding: 50px 0px;
  background: #663300;

  .contact-nbr {
    h1 {
      font-size: 30px;
      color: #fff;
      font-weight: 500;
      margin-bottom: 1px;
    }

    a {
      font-size: 40px;
      color: #fff;
      font-weight: 600;
      text-decoration: none;
    }
  }

  .getin-btn {
    text-align: right;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    a {
      background: #ffcc00;
      color: #333333;
      padding: 15px 40px;
      font-size: 25px;
      font-weight: 600;
      text-decoration: none;
    }
  }
}

#industry-updates {
  padding: 110px 0px;

  .article-card {
    .card-img {
      img {
        width: 100%;
        height: 210px;
        object-fit: cover;
      }
    }

    .card-content {
      margin-top: 15px;

      span {
        font-size: 13px;
        font-weight: 500;
        color: lighten(#333333, 40%);
      }

      h1 {
        font-size: 20px;
        font-weight: 600;
        margin-top: 5px;
        margin-bottom: 15px;
      }

      a {
        color: #333333;
        text-decoration: none;
      }

      p {
        font-size: 15px;
        font-weight: normal;
        color: #333333;
        margin-bottom: 0px;
        text-align: justify;
      }
    }
  }
}

#security-team {
  height: 600px;
  overflow: hidden;

  .cover-img {
    img {
      width: 100%;
    }
  }

  .team-info {
    position: relative;
    top: -50%;

    .best-security-team {
      padding-right: 70px;
      padding-left: 40px;
      color: #fff;

      h1 {
        font-size: 40px;
        font-weight: 500;
        padding-right: 45px;
        margin-bottom: 20px;
      }

      p {
        font-size: 15px;
        font-weight: normal;
        padding-right: 50px;
      }

      a {
        font-size: 18px;
        color: #ffcc00;
        font-weight: normal;
        text-decoration: underline;
        text-underline-position: under;
        display: block;
        margin-top: 30px;
        width: fit-content;
      }
    }
  }
}

#happy-customer {
  padding: 80px 0;

  .reviews {
    h1 {
      text-align: center;
      font-size: 40px;
      color: #333333;
      font-weight: 600;
      margin-bottom: 70px;
    }

    .customer-img {
      border-right: 1px solid lighten(#333333, 70%);

      img {
        width: 100%;
        max-width: 40%;
        margin: auto;
        display: block;
        border-radius: 50%;
        border: 3px solid #333333;
      }

      h2 {
        font-size: 18px;
        text-align: center;
        color: #333333;
        font-weight: 500;
        font-weight: 500;
        margin-top: 10px;
        margin-bottom: 5px;
      }

      h3 {
        font-size: 12px;
        text-align: center;
        color: #333333;
        font-style: italic;
      }
    }

    .customer-note {
      h4 {
        font-size: 22px;
        font-weight: 500;
        color: #333333;
      }

      ul {
        display: flex;
        padding-left: 0;

        li {
          list-style-type: none;
          color: #ffcc00;
          font-size: 22px;

          &:not(:last-child) {
            padding-right: 10px;
          }
        }
      }

      p {
        font-size: 15px;
        color: #333333;
        margin-bottom: 0px;
      }
    }

    .carousel-indicators {
      display: block !important;
      margin-left: 0%;
      top: 50%;
      transform: translateY(-50%);

      li {
        width: 10px !important;
        height: 10px !important;
        background-color: #333333 !important;
        border-radius: 50%;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
      }
    }
  }
}

#get-in-touch {
  padding: 50px 0px;
  background: #ebebeb;

  .contact-nbr {
    h1 {
      text-align: center;
      font-size: 35px;
      font-weight: 500;
      color: #333333;
      margin-bottom: 0;
    }

    a {
      color: #333333;
      text-decoration: none;
      font-weight: 600;
    }
  }
}

// Responsive

@media (min-width: 992px) and (max-width: 1199px) {
  #top-cover .homeSlider .slider .slider-content h1 {
    font-size: 55px;
  }

  #best-security-sl .best-security h1 {
    font-size: 35px;
    margin-bottom: 20px;
  }

  #best-security-sl .security-services h2 {
    font-size: 17px;
    margin-bottom: 10px;
  }

  #best-security-sl a {
    font-size: 16px;
  }

  #welcome-thaproband .welcome h1 {
    font-size: 35px;
    margin-bottom: 20px;
  }

  #we-are-for-you .our-best h1 {
    font-size: 35px;
    margin-bottom: 20px;
  }

  #we-are-for-you .reasons ul li .title h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  #quick-contact .contact-nbr h1 {
    font-size: 25px;
  }

  #quick-contact .contact-nbr a {
    font-size: 35px;
  }

  #industry-updates .article-card .card-img img {
    height: 160px;
  }

  #industry-updates .article-card .card-content h1 {
    font-size: 17px;
  }

  #industry-updates .article-card .card-content span {
    font-size: 11px;
  }

  #security-team .team-info .best-security-team h1 {
    font-size: 35px;
  }

  #quick-contact .getin-btn a {
    font-size: 20px;
  }

  #security-team {
    height: 570px;
  }

  #security-team .cover-img {
    height: 570px;
  }

  #security-team .cover-img img {
    height: 100%;
    object-fit: cover;
  }

  #security-team .team-info .best-security-team {
    padding-right: 0;
  }

  #happy-customer .reviews h1 {
    font-size: 35px;
  }

  #happy-customer .reviews .customer-note h4 {
    font-size: 20px;
  }

  #happy-customer .reviews .customer-img h2 {
    font-size: 16px;
  }

  #happy-customer .reviews .customer-img h3 {
    font-size: 10px;
  }

  #happy-customer .reviews .customer-note ul li {
    font-size: 20px;
  }

  #get-in-touch .contact-nbr h1 {
    font-size: 30px;
  }

  #best-security-sl {
    padding: 60px 0;
  }

  #welcome-thaproband {
    padding: 60px 0;
  }

  #we-are-for-you {
    padding: 60px 0px;
  }

  #industry-updates {
    padding: 80px 0px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #top-cover .homeSlider .slider .slider-content h1 {
    font-size: 45px;
    letter-spacing: 5px;
  }

  #top-cover .homeSlider .slider .slider-content p {
    font-size: 18px;
    max-width: 60%;
  }

  #best-security-sl .best-security h1 {
    font-size: 35px;
    margin-bottom: 20px;
  }

  #best-security-sl {
    padding: 50px 0;
  }

  #best-security-sl .best-security p {
    font-size: 16px;
  }

  #best-security-sl .security-services h2 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  #best-security-sl a {
    font-size: 15px;
  }
  #welcome-thaproband {
    padding: 50px 0;
  }

  #welcome-thaproband .welcome h1 {
    font-size: 36px;
    color: #fc0;
  }

  #welcome-thaproband {
    padding: 50px 0;
    background: url("../img/security-guard.png") rgba(0, 0, 0, 0.7);
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-size: 35%;
    background-position-y: bottom;
    background-blend-mode: overlay;
  }

  #welcome-thaproband .welcome p {
    color: #fff;
  }

  #welcome-thaproband .welcome a {
    color: #fff;
  }

  #we-are-for-you {
    padding: 60px 0px;
  }

  #we-are-for-you .our-best h1 {
    font-size: 35px;
    margin-bottom: 20px;
  }

  #we-are-for-you .our-best p {
    font-size: 16px;
  }

  #we-are-for-you .reasons ul li .title h2 {
    font-size: 20px;
  }

  #we-are-for-you .reasons ul li:not(:last-child) {
    font-size: 25px;
  }

  #quick-contact .contact-nbr h1 {
    font-size: 20px;
  }

  #quick-contact .contact-nbr a {
    font-size: 30px;
  }

  #quick-contact .getin-btn a {
    padding: 12px 30px;
    font-size: 20px;
  }

  #industry-updates {
    padding: 70px 0px;
  }

  #industry-updates .article-card .card-img img {
    height: 120px;
  }

  #industry-updates .article-card .card-content span {
    font-size: 11px;
  }

  #industry-updates .article-card .card-content h1 {
    font-size: 16px;
  }

  #security-team .cover-img img {
    filter: brightness(0.5);
  }

  #security-team .team-info .best-security-team h1 {
    font-size: 35px;
  }

  #security-team .team-info .best-security-team a {
    font-size: 16px;
    margin: auto;
  }

  #security-team .team-info .best-security-team h1 {
    font-size: 35px;
  }

  #security-team .team-info .best-security-team {
    padding-right: 40px;
    padding-left: 40px;
    text-align: center;
  }

  #security-team {
    height: 370px;
  }
  #security-team .cover-img {
    height: 370px;
  }

  #security-team .cover-img img {
    height: 100%;
    object-fit: cover;
  }

  #happy-customer .reviews h1 {
    font-size: 35px;
    margin-bottom: 60px;
  }

  #happy-customer .reviews .customer-note h4 {
    font-size: 18px;
  }

  #happy-customer .reviews .customer-note ul li {
    font-size: 18px;
  }

  #happy-customer .reviews .customer-img h2 {
    font-size: 16px;
  }

  #happy-customer .reviews .customer-img h3 {
    font-size: 10px;
  }

  #get-in-touch .contact-nbr h1 {
    font-size: 30px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  #top-cover .homeSlider .slider .slider-content h1 {
    font-size: 30px;
    letter-spacing: 5px;
  }

  #top-cover .homeSlider .slider .slider-content p {
    font-size: 18px;
  }

  #best-security-sl {
    padding: 40px 0;
  }
  #best-security-sl .best-security h1 {
    font-size: 25px;
    margin-bottom: 15px;
  }

  #best-security-sl .best-security p {
    font-size: 16px;
  }

  #best-security-sl .security-services img {
    max-width: 20%;
  }

  #best-security-sl .security-services h2 {
    font-size: 18px;
  }

  #best-security-sl .security-services:not(.investigations) {
    margin-bottom: 50px;
  }

  #best-security-sl .security-services p {
    line-height: 22px;
    max-width: 85%;
    margin: auto;
  }

  #best-security-sl a {
    font-size: 16px;
  }

  #welcome-thaproband .welcome h1 {
    font-size: 25px;
    color: #fc0;
  }

  #welcome-thaproband {
    padding: 40px 0;
    background: url("../img/security-guard.png") rgba(0, 0, 0, 0.7);
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-size: 35%;
    background-position-y: bottom;
    background-blend-mode: overlay;
  }

  #welcome-thaproband .welcome p {
    color: #fff;
  }

  #welcome-thaproband .welcome a {
    color: #fff;
  }

  #we-are-for-you {
    padding: 40px 0px;
  }

  #we-are-for-you .our-best h1 {
    font-size: 25px;
    margin-bottom: 15px;
  }

  #we-are-for-you .reasons ul li .title h2 {
    font-size: 18px;
  }

  #we-are-for-you .reasons ul li:not(:last-child) {
    font-size: 25px;
  }

  #quick-contact .contact-nbr h1 {
    font-size: 20px;
  }

  #quick-contact .contact-nbr a {
    font-size: 30px;
  }

  #quick-contact .getin-btn {
    text-align: center;
    position: unset;
    top: unset;
    transform: unset;
    margin-top: 30px;
  }

  #quick-contact .getin-btn a {
    padding: 13px 30px;
    font-size: 20px;
  }

  #quick-contact .contact-nbr {
    text-align: center;
  }

  #industry-updates {
    padding: 60px 0px 30px;
  }

  #industry-updates .article-card .card-img img {
    height: 130px;
  }

  #industry-updates .article-card .card-content h1 {
    font-size: 16px;
  }

  #industry-updates .article-card .card-content span {
    font-size: 12px;
  }

  #industry-updates .article-card {
    margin-bottom: 30px;
  }

  #security-team .team-info .best-security-team {
    padding-right: 40px;
    padding-left: 40px;
    text-align: center;
  }

  #security-team .team-info .best-security-team h1 {
    font-size: 25px;
    padding-right: 0;
  }

  #security-team {
    height: 400px;
  }
  #security-team .cover-img {
    height: 400px;
  }

  #security-team .cover-img img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
  }

  #security-team .team-info .best-security-team p {
    font-size: 15px;
    padding-right: 0;
  }

  #security-team .team-info .best-security-team a {
    font-size: 16px;
    margin: auto;
    margin-top: 40px;
  }

  #happy-customer {
    padding: 40px 0 80px;
  }

  #happy-customer .reviews h1 {
    font-size: 25px;
    margin-bottom: 50px;
  }

  #happy-customer .reviews .customer-img img {
    max-width: 20%;
  }

  #happy-customer .reviews .customer-img {
    border-right: none;
    margin-bottom: 30px;
  }

  #happy-customer .reviews .carousel-indicators {
    display: inline-flex !important;
    margin-left: 15%;
    top: unset;
    transform: unset;
    bottom: -50px;
  }

  #happy-customer .reviews .customer-note {
    text-align: center;
  }

  #happy-customer .reviews .customer-note ul {
    display: inline-flex;
  }
  #happy-customer .reviews .customer-note h4 {
    font-size: 20px;
  }

  #happy-customer .reviews .customer-note ul li {
    font-size: 20px;
  }

  #get-in-touch .contact-nbr h1 {
    font-size: 25px;
  }

  #get-in-touch {
    padding: 40px 0px;
  }
}

@media (max-width: 575px) {
  #top-cover .homeSlider .slider {
    height: 40vh;
    background-position-x: center;
  }

  #top-cover .homeSlider .slider .slider-content {
    top: 20vh;
    transform: translateY(-50%);
  }

  // #top-cover .homeSlider .slider1 {
  //   background-position-x: -100px;
  // }

  // #top-cover .homeSlider .slider2 {
  //   background-position-x: -362px;
  // }

  // #top-cover .homeSlider .slider3 {
  //   background-position-x: -307px;
  // }

  #top-cover .homeSlider .slider .slider-content h1 {
    font-size: 23px;
    letter-spacing: 5px;
  }

  #top-cover .homeSlider .slider .slider-content p {
    font-size: 16px;
    max-width: 70%;
  }

  #top-cover .homeSlider .slick-dots {
    bottom: 15px;
  }

  #best-security-sl {
    padding: 35px 0;
  }

  #best-security-sl .best-security h1 {
    font-size: 18px;
  }

  #best-security-sl .best-security p {
    font-size: 15px;
  }

  #best-security-sl .security-services img {
    max-width: 20%;
  }

  #best-security-sl .security-services h2 {
    font-size: 16px;
  }

  #best-security-sl .security-services p {
    font-size: 14px;
    padding: 0 15px;
  }

  #best-security-sl .security-services:not(.investigations) {
    margin-bottom: 50px;
  }

  #best-security-sl a {
    font-size: 14px;
    margin-top: 10px;
  }

  #welcome-thaproband {
    padding: 35px 0;
  }

  #welcome-thaproband .welcome h1 {
    font-size: 18px;
  }

  #welcome-thaproband .welcome p {
    font-size: 14px;
  }

  #welcome-thaproband .welcome h1 {
    font-size: 18px;
    color: #fc0;
  }

  #welcome-thaproband {
    padding: 40px 0;
    background: url("../img/security-guard.png") rgba(0, 0, 0, 0.7);
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-size: 35%;
    background-position-y: bottom;
    background-blend-mode: overlay;
  }

  #welcome-thaproband .welcome p {
    color: #fff;
  }

  #welcome-thaproband .welcome a {
    color: #fff;
    font-size: 14px;
  }

  #we-are-for-you {
    padding: 35px 0px;
  }

  #we-are-for-you .our-best h1 {
    font-size: 18px;
  }

  #we-are-for-you .our-best p {
    font-size: 15px;
    margin-bottom: 40px;
  }

  #we-are-for-you .reasons ul li .title h2 {
    font-size: 16px;
  }

  #we-are-for-you .reasons ul li:not(:last-child) {
    font-size: 25px;
  }

  #we-are-for-you .reasons ul li .content p {
    font-size: 14px;
  }

  #we-are-for-you .info p {
    font-size: 14px;
  }

  #quick-contact .contact-nbr h1 {
    font-size: 18px;
    margin-bottom: 5px;
    text-align: center;
  }

  #quick-contact .contact-nbr a {
    font-size: 25px;
    display: block;
    text-align: center;
  }

  #quick-contact .getin-btn {
    text-align: center;
    margin-top: 10px;
  }

  #quick-contact .getin-btn a {
    padding: 6px 20px;
    font-size: 16px;
    border-radius: 5px;
    display: inline-block;
  }

  #industry-updates {
    padding: 40px 0px;
  }

  #industry-updates .article-card {
    margin-bottom: 30px;
  }

  #industry-updates .article-card .card-img img {
    height: 200px;
  }

  #industry-updates .article-card .card-content h1 {
    font-size: 15px;
  }

  #industry-updates .article-card .card-content span {
    font-size: 11px;
  }

  #security-team {
    height: 370px;
  }
  #security-team .cover-img {
    height: 370px;
  }

  #security-team .cover-img img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
  }

  #security-team .team-info .best-security-team {
    padding-right: 15px;
    padding-left: 15px;
  }

  #security-team .team-info .best-security-team h1 {
    font-size: 18px;
    padding-right: 0;
    text-align: center;
  }

  #security-team .team-info .best-security-team p {
    font-size: 14px;
    text-align: center;
    padding-right: 0;
  }

  #security-team .team-info .best-security-team a {
    font-size: 14px;
    margin: auto;
    margin-top: 30px;
  }

  #happy-customer {
    padding: 35px 0 50px;
  }

  #happy-customer .reviews h1 {
    font-size: 18px;
    margin-bottom: 50px;
  }

  #happy-customer .reviews .customer-img img {
    max-width: 20%;
  }

  #happy-customer .reviews .customer-img {
    border-right: none;
    margin-bottom: 30px;
  }

  #happy-customer .reviews .carousel-indicators {
    display: inline-flex !important;
    margin-left: 15%;
    top: unset;
    transform: unset;
    bottom: -40px;
  }

  #happy-customer .reviews .customer-note {
    text-align: center;
  }

  #happy-customer .reviews .customer-note ul {
    display: inline-flex;
  }
  #happy-customer .reviews .customer-note h4 {
    font-size: 16px;
  }

  #happy-customer .reviews .customer-note ul li {
    font-size: 20px;
  }

  #happy-customer .reviews .customer-img h2 {
    font-size: 15px;
  }

  #happy-customer .reviews .customer-note p {
    font-size: 14px;
    padding: 0 15px;
  }

  #happy-customer .reviews .carousel-indicators li {
    width: 7px !important;
    height: 7px !important;
  }

  #get-in-touch {
    padding: 35px 0px;
  }

  #get-in-touch .contact-nbr h1 {
    font-size: 18px;
  }
}
